

<div class="container">
  <%= render 'shared/error_messages', object: @epay %>
  <div class="card mt-5">
    <div class="card-header">
      Your total is $<%= @total %>. Input your credit card info to finalize purchase.
    </div>
  <div class="card-body">
    <%= form_with model: @epay, local: true do |f|%>
      <%= f.hidden_field :command, value: "cc:sale" %>
      <%= f.hidden_field :amount, value: @total %>
      <% @epay.creditcard ||= Creditcard.new %>
      <%= f.fields_for :creditcard, @epay.creditcard do |cc| %>
        <div class="row">
          <div class="col-4">
            <%= cc.label "Card Holder" %>
            <%= cc.text_field :cardholder, class: 'form-control' %>
          </div>
          <div class="col">
            <%= cc.label "Card Number" %>
            <%= cc.text_field :number, class: 'form-control' %>
          </div>
          <div class="col-2">
            <%= cc.label "Expiration" %>
            <%= cc.text_field :expiration, class: 'form-control' %>
          </div>
          <div class="col-1">
            <%= cc.label "CVC" %>
            <%= cc.text_field :cvc, class: 'form-control' %>
          </div>

        </div>
        <div class="row">
          <div class="col">
            <%= cc.label "Street" %>
            <%= cc.text_field :avs_street, class: 'form-control' %>
          </div>
          <div class="col">
            <%= cc.label "Zip" %>
            <%= cc.text_field :avs_zip, class: 'form-control' %>
          </div>
        </div>
      <% end %>
      <%= f.submit :purchase, class: 'btn btn-primary mt-5' %>
    <% end %>
  </div>
</div>
</div>
